body {
  font-family: 'Montserrat', sans-serif;
  padding: 0px 20px;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.all-products {
  align-content: center;
}
