body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.all-products {
  align-content: center;
}

button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #000000;
  text-align: center;
  transition: all 0.2s;
}

a.button:hover {
  color: #000000;
  background-color: #ffffff;
}

.product-form {
  background: lightgray;
  padding: 40px;
  align-items: center;
}

/* Media Queries */

@media screen and (max-width: 1000px) {
  .all-products {
    margin: auto 10px;
  }
  .product-form {
    background: lightgray;
    padding: 10px;
    align-items: center;
  }
}
